<!DOCTYPE html>

<head>

  <%- include logo %>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      
      body {
        font-family: "Lato", sans-serif;
      }

      .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }

      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 19px;
        color: #818181;
        display: block;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .main {
        margin-left: 160px;
        /* Same as the width of the sidenav */
        font-size: 20px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {

          padding-top: 15px;
        }

        .sidenav a {
          font-size: 10px;

        }
      }
    </style>
</head>

<head>
  <title>PRODUCT TEST</title>
</head>

<body>
  <%- include layout %>


    <div class="main">
      <h2>Server Test Engineer</h2>
      <p>ใช้สำหรับทดสอบ อุปกรณ์ ใหม่</p>
      <p>Function หลักที่ใช้ได้</p>
      <p>-log_data </p>
      <p>-gps_data_T1 (model)</p>
      <p>-gps_data_T2 (model)</p>
      <p>-send command from web</p>
      <p>-SMS send command (cannot use now)</p>
      <p>-GPRS send command</p>
      <p>-read bluetooth MAC</p>
      <p>-IRIS log</p>
      <p>-T530B log</p>
      <p>-T530B send command</p>
      <p>-version 3.04</p>
      <p>-by.aek</p>


    </div>

</body>

</html>

<head>