<tr class="style4" style="background-color:#66C2E0" role="row">

  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" aria-sort="ascending"
    bgcolor="#999" style="width: 10px;">
    <div align="center" bgcolor="#999">S.N</div>
  </th>
  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" aria-sort="ascending"
    style="width: 30px;">
    <div align="center">IMEI</div>
  </th>
  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" aria-sort="ascending"
    style="width: auto;">
    <div align="center">server time</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1"
    aria-label=" Gprsdate: activate to sort column ascending" style="width: auto;">
    <div align="center"> GPS time</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1"
    aria-label="RAW DATA: activate to sort column ascending" style="width: 50px;">
    <div align="center">Alarm_sign</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Device_Status</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">latitude</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">longitude</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Elevation</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">CAN_Speed</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Device_direction</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">data_type</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">CAN_ODO</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">CAN_fuel_consumtion</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Running_time</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Flameout_time</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Total_idle_time</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Accelerometer</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Ex_battery</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">In_battery</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">CSQ_value</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Model_ID</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">OBD_protocol_type</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Driving_cycle_label</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">GPS_receiving_stars</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">GPS_position_accuracy</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">GPS_S2N_ratio</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Pulled_out_status</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Accumulated_ODO</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Ignition_type</div>
  </th>



</tr>