<tr class="style4" style="background-color:#66C2E0" role="row">

  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" aria-sort="ascending"
    bgcolor="#999" style="width: 10px;">
    <div align="center" bgcolor="#999">S.N</div>
  </th>
  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" aria-sort="ascending"
    style="width: 30px;">
    <div align="center">IMEI</div>
  </th>
  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" aria-sort="ascending"
    style="width: auto;">
    <div align="center">server time</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1"
    aria-label=" Gprsdate: activate to sort column ascending" style="width: auto;">
    <div align="center"> GPS time</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1"
    aria-label="RAW DATA: activate to sort column ascending" style="width: 50px;">
    <div align="center">Latitude</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Longitude</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">ACC_STATUS</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Gps_speed</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">GPS_ODO</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">gsm_signal</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">satelites</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">gps_status</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">angle</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">altitude</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">hdop</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">pdop</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">gsm_Sim_CCID</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Ex_battery</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">In_battery</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">Battery_Current</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">event_id</div>
  </th>


</tr>