<tr class="style4" style="background-color:#4dcdf8" role="row">

  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1" aria-sort="ascending"
    bgcolor="#999" style="width: 10px;">
    <div align="center" bgcolor="#999">S.N</div>
  </th>
  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1" aria-sort="ascending"
    style="width: 140px;">
    <div align="center">Functions</div>
  </th>
  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1" aria-sort="ascending"
    style="width: auto;">
    <div align="center">Commnad Details</div>
  </th>
  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1" aria-sort="ascending"
  style="width: 100px;">
  <div align="center">Send data</div>
</th>
<th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1" aria-sort="ascending"
style="width: auto;">
<div align="center">Comment</div>
</th>

</tr>