<tr class="style4" style="background-color:#66C2E0" role="row">

  <th height="23" scope="col" class="sorting_asc" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1"
    aria-sort="ascending" aria-label="IMEI: activate to sort column descending" style="width: 10px;">
    <div align="center">S.N</div>
  </th>
  <th height="23" scope="col" class="sorting_asc" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1"
    aria-sort="ascending" aria-label="IMEI: activate to sort column descending" style="width: 100px;">
    <div align="center">IMEI</div>
  </th>
  <th height="23" scope="col" class="sorting_asc" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1"
    aria-sort="ascending" aria-label="IMEI: activate to sort column descending" style="width: 170px;">
    <div align="center">Gprs date time</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1"
    aria-label=" Gprsdate: activate to sort column ascending" style="width: 200px;">
    <div align="center"> RAW DATA</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1"
  aria-label=" Gprsdate: activate to sort column ascending" style="width: 200px;">
  <div align="center"> RAW DATA HEX</div>
</th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1"
    aria-label="RAW DATA: activate to sort column ascending" style="width: 50px;">
    <div align="center">ACK DATA</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">client_host</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="1" style="width: 50px;">
    <div align="center">client_Port</div>
  </th>
</tr>