<tr class="style4" style="background-color:#4dcdf8" role="row">

  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1" aria-sort="ascending"
    bgcolor="#999" style="width: 10px;">
    <div align="center" bgcolor="#999">S.N</div>
  </th>
  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1" aria-sort="ascending"
    style="width: 30px;">
    <div align="center">IMEI</div>
  </th>
  <th height="23" scope="col" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1" aria-sort="ascending"
    style="width: auto;">
    <div align="center">server time</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1"
    aria-label=" Gprsdate: activate to sort column ascending" style="width: auto;">
    <div align="center"> GPS time</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1"
    aria-label="RAW DATA: activate to sort column ascending" style="width: 50px;">
    <div align="center">Alarm_sign</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="2" style="width: 50px;">
    <div align="center">battery</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">Device_Status</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="10" style="width: 50px;">
    <div align="center">GPS</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="2" style="width: 50px;">
    <div align="center">JAMMER</div>
  </th>

  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">Ignition</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="4" style="width: 50px;">
    <div align="center">DLT</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="3" style="width: 50px;">
    <div align="center">GEO FENCE</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="18" style="width: 50px;">
    <div align="center">CANBUS</div>
  </th>

  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="3" style="width: 50px;">
    <div align="center">Analog</div>
  </th>
  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="12"
    style="width: 120px;">
    <div align="center">input</div>
  </th>

  <th scope="col" class="sorting" tabindex="0" aria-controls="data_table" rowspan="1" colspan="11"
    style="width: 120px;">
    <div align="center">output</div>
  </th>
</tr>

<tr  class="style4"  style="background-color:#f5dfb5"  role="row">
  <th scope="col" class="sorting" rowspan="1" tabindex="0" aria-controls="data_table" colspan="1" style="width: 12px;">
    <div align="center">in</div>
  </th>

  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">ext</div>
  </th>
  <th scope="col" class="sorting"  rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">latitude</div>
  </th>
  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">longitude</div>
  </th>

  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">speed</div>
  </th>

  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">satelites</div>
  </th>
  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">status</div>
  </th>
  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">altitude</div>
  </th>
  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">angle</div>
  </th>
  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">hdop</div>
  </th>
  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">pdop</div>
  </th>
  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">GPS_ODO</div>
  </th>
  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">GPS</div>
  </th>
  <th scope="col" class="sorting" rowspan="2" colspan="1" style="width: 50px;">
    <div align="center">GSM</div>
  </th>
  
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">id</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">type</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">country</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">correct</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">in</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">out</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">id</div>
  </th>

  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">status</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">speed</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">rpm</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">brake</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">clutch</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">Parking</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">Exhaust</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">alarm_en</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">dtc</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">accelerator</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">odo</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">engine_total_use_time</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">fuel_total_use</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">fuel_consumtion</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">% load</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">% fuel</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">engine temp</div>
  </th>                        
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">oil_temp</div>
  </th>                        

 
 
 
 
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">A1</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">A2</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">A3</div>
  </th>
   <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">0</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">1</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">2</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">3</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">4</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">5</div>
  </th>
  <th scope="col" class="sorting" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">6</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">7</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">8</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">9</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">10</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">11</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">0</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">1</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">2</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">3</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">4</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">5</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">6</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">7</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">8</div>
  </th>
  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">9</div>
  </th>

  <th scope="col" class="sorting_disabled" rowspan="1" colspan="1" style="width: 12px;">
    <div align="center">10</div>
  </th>

</tr>